html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: url(../assets/images/pattern.jpg);
  display: -ms-flexbox;
  display: flex;
  border: 0 solid orange;
  box-sizing: border-box;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #fff; }

.wrapper {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 0.5rem; }

.title {
  padding: 0.5rem 0; }

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "home   contact hire hire photos about"
 "about2 about2  blog blog blog   contact2"; }

.grid__item:hover {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 5px 5px 2px rgba(0, 0, 0, 0.24);
  -ms-transform: scale(1.05);
      transform: scale(1.05); }

.grid__item {
  box-sizing: border-box;
  padding: 0.5rem;
  height: calc(150px - 1rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  position: relative;
  cursor: pointer;
  transition: all 0.25s;
  animation: fadeIn 0.6s ease-out normal backwards; }

@keyframes fadeIn {
  0% {
    transform: scale(0); }
  70% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.home {
  grid-area: home;
  background: #3387ea;
  animation-delay: 0ms; }

.contact {
  grid-area: contact;
  background: #f9be3e;
  animation-delay: 100ms; }

.hire {
  grid-area: hire;
  background: #d3573e;
  animation-delay: 200ms; }

.photos {
  grid-area: photos;
  background: #59b0e2;
  animation-delay: 300ms; }

.about {
  grid-area: about;
  background: #33af95;
  animation-delay: 400ms; }

.about2 {
  grid-area: about2;
  background: #86a73f;
  animation-delay: 500ms; }

.blog {
  grid-area: blog;
  background: #151a26;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: start;
      align-items: flex-start;
  animation-delay: 600ms; }

.contact2 {
  grid-area: contact2;
  background: #7e5b8c;
  animation-delay: 700ms; }

.grid__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.grid__img_blog {
  height: 100%;
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
  background-image: url(../assets/images/blog-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.grid__blog_desc {
  -ms-flex: 0 0 70%;
      flex: 0 0 70%;
  padding: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.grid__blog_desc > h3 {
  margin-bottom: 0; }

@media screen and (max-width: 768px) {
  body {
    -ms-flex-align: start;
        align-items: flex-start; } }

@media screen and (max-width: 575px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "home     contact"
 "hire     hire"
 "photos   about"
 "about2   about2"
 "blog     blog"
 "contact2 contact2"; } }

@media screen and (max-width: 370px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-template-areas: "home"
 "contact"
 "hire"
 "photos"
 "about"
 "about2"
 "blog"
 "contact2"; }
  .grid__img_blog,
  .grid__blog_desc {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
