html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: url(../../assets/images/pattern.jpg);
  display: flex;
  border: 0 solid orange;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wrapper {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.title{
  padding: 0.5rem 0;
}

.grid__item:hover{
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 5px 5px 2px rgba(0, 0, 0, 0.24);
  transform: scale(1.05);
}
.grid__item{
  margin-top: 15px;
  box-sizing: border-box;
  padding: 0.5rem;
  height: calc(150px - 1rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
  transition: all 0.25s;
  animation: fadeIn 0.6s ease-out normal backwards;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 7.5px;
  padding-left: 7.5px;
}


@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.home{
  grid-area: home;
  background: #3387ea;
  animation-delay: 0ms;
}
.contact{
  grid-area: contact;
  background: #f9be3e;
  animation-delay: 100ms;
}
.hire{
  grid-area: hire;
  background: #d3573e;
  animation-delay: 200ms;
}
.photos{
  grid-area: photos;
  background: #59b0e2;
  animation-delay: 300ms;
}
.about{
  grid-area: about;
  background: #33af95;
  animation-delay: 400ms;
}
.about2{
  grid-area: about2;
  background: #86a73f;
  animation-delay: 500ms;
}
.blog{
  grid-area: blog;
  background: #151a26;
  display: flex;
  padding: 0;
  align-items: flex-start;
  animation-delay: 600ms;
}
.contact2{
  grid-area: contact2;
  background: #7e5b8c;
  animation-delay: 700ms;
}
.grid__img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.grid__img_blog{
  height: 100%;
  flex: 0 0 30%;
  background-image: url(../../assets/images/blog-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid__blog_desc{
  flex: 0 0 70%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end
}
.grid__blog_desc > h3{
  margin-bottom: 0;
}
@media screen and (max-width: 992px){
  body{
    align-items: flex-start;
  }
}

@media screen and (max-width: 575px){


}
@media screen and (max-width: 370px){


  .grid__img_blog,
  .grid__blog_desc{
    flex: 0 0 50%;
  }
}