@import '../../../common/styles/mixins';
@import '../../../common/styles/variables';
.slider{
  background-image: url(../../../../assets/images/rectangle2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 648px;
  @include tablet{
    height: 94vh;
  }
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &__arrows{
    @include tablet{
      display: none;
    }
    &_next, &_prev{
      font-size: 1.2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      i{
        color: $accent;
        cursor: pointer;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        @include transition;
        &:before{
          position: relative;
        }
        &:hover{
          color: #fff;
          z-index: 1;
          background-color: #587C1F;
          transform: scale(1.2);
        }
      }
    }
    &_prev{
      left: 4%;
      i{
        &:before{
          left: 3px;
        }
      }
    }
    &_next{
      right: 4%;
      i{
        &:before{
          left: 6px;
        }
      }
    }
  }
}