.output{
    align-content: center;
    justify-content: center;
    ul{
        padding: 0;
        margin-left: 0;
        text-align: center;
    }
    div {
        margin: 0;
        padding: 0;
        div {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            border: 1px solid gray;
            background-color: lightgrey;
            transition: all .5s ease;
            img {
                display: block;
                cursor: pointer;
                opacity: 0;
            }
            &.on{
                img{
                    opacity: 1;
                }
            }
            &.end{
                img{
                    opacity: 1;
                }
            }
        }
    }
}