@import './mixins';
@import './fonts';
@import './header';
@import './slider';
@import './best';
@import './games';

html {
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  color: $main-color;
  box-sizing: border-box;
  background-image: linear-gradient(transparent 0px, transparent 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px);
  background-position: 109px -2px;
  background-size: 20px 20px;
}
::placeholder{
  color: $main-color;
  opacity: 0.4;
}
::selection{
  color: $accent;
  opacity: 0.4;
  font-size: 1rem;
}
ul{
  list-style-type: none;
  display: flex;
  align-items: center;
}
.wrapper{
  margin: 25px auto 0;
  padding: 0;
  max-width: 1400px;
}
.btn{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #686c6f, #373a3c);
  color: #fff;
  line-height: 2.5;
  text-decoration: none;
  padding: 0 19px;
  min-width: 136px;
  white-space: nowrap;
  @include transition;
  &:hover{
    background-image: linear-gradient(to bottom, #55595c, #373a3c);
  }
  &:active{
    background-image: linear-gradient(to bottom, #4a4e51, #373a3c);
  }
}
.btn-green{
  background-color: $accent;
  background-image: none;
  &:hover{
    background-color: #79c13a;
    background-image: none;
  }
  &:active{
    background-color: #71af30;
    background-image: none;
  }
}