.best{
  //background-image: radial-gradient(circle at 50% 0, #686c6f, #373a3c), url(../../assets/images/bgimage.jpg);
  background-image: url(../../assets/images/bgimage.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 64px 0 162px;
  .col-md-4{
    margin-bottom: 25px;
  }
  h1{
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    span{
      display: block;
      font-size: 2.2rem;
    }
  }
  svg{
    width: 64px;
    height: auto;
  }
}
