.best{
  background-image: radial-gradient(circle at 50% 0, #686c6f, #373a3c);
  color: #fff;
  padding: 64px 0 162px;
  h1{
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    span{
      display: block;
      font-size: 2.2rem;
    }
  }
  svg{
    width: 64px;
    height: auto;
  }
}
