.games{
  padding: 97px 0 140px;
  //background-image: url(../../assets/images/rectangle@3x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  h3{
    font-size: 2.25rem;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
  }
}