@import 'mixins';
@import 'fonts';

html {
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  color: $main-color;
  box-sizing: border-box;
  background-image: linear-gradient(transparent 0px, transparent 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px);
  background-position: 109px -2px;
  background-size: 15px 15px;
}
::placeholder{
  color: $main-color;
  opacity: 0.4;
}
::selection{
  color: $accent;
  opacity: 0.4;
  font-size: 1rem;
}
ul{
  list-style-type: none;
  display: flex;
  align-items: center;
}
.wrapper{
  margin: 20px auto;
  padding: 0;
  max-width: 1400px;
}
.iblock{
  margin-left: 20px;
  color: white;
  transition: all 1s ease-in;
  &_title {
    font-size: 2.1rem;
    transition: all .25s ease-in;
    span {
      display: block;
      font-size: 1.4rem;
      transition: all .5s ease-in;
    }
  }
  &_text{
    line-height: 1.6;
    margin: 10px 0 20px;
    transition: all .75s ease-in;
  }
  &_buttons a{
    margin-right: 15px;
    margin-bottom: 10px;

  }
}


.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 10px;
  border-radius: 4px;
  min-width: 240px;
  max-width: 420px;
  width: 100%;
  background-color: #ffffff;
  border: solid 1px $accent;
  overflow: hidden;
  color: $main-color;
  opacity: 0.99;
  @include transition;
  &:hover{
    transform: scale(1.1);
    z-index: 1000;
  }
  &__img{
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    overflow: hidden;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 22px 22px 27px;
    &_name{
      font-size: 1.125rem;
      padding: 0;
    }
    &_title{
      margin: 13px 0 40px 0;
      padding: 0;
      font-size: 1.5rem;
      line-height: normal;
    }
    &_link{
      flex: 1;
      display: flex;
      align-items: flex-end;
      align-self: flex-end;
      width: 100%;
      margin-bottom: 10px;
      .card-btn{
        width: 100%;
        padding: 14px 23px;
      }
    }
  }
}