@font-face {
  font-family: 'HelveticaNeue';
  src: url('./../common/fonts/HelveticaNeue/HelveticaNeue-Roman.eot');
  src: local('./../common/fonts/HelveticaNeue/HelveticaNeue-Roman'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Roman.woff') format('woff'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./../common/fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
  src: local('./../common/fonts/HelveticaNeue/HelveticaNeue-Bold'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
  url('./../common/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('./../common/fonts/icomoon.eot?acsc4t');
  src:  url('./../common/fonts/icomoon.eot?acsc4t#iefix') format('embedded-opentype'),
  url('./../common/fonts/icomoon.ttf?acsc4t') format('truetype'),
  url('./../common/fonts/icomoon.woff?acsc4t') format('woff'),
  url('./../common/fonts/icomoon.svg?acsc4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-expand-arrow:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-icon-prev:before {
  content: "\e903";
  color: #8dd83d;
}
.icon-icon-next:before {
  content: "\e904";
  color: #8dd83d;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}