@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?acsc4t');
  src:  url('fonts/icomoon.eot?acsc4t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?acsc4t') format('truetype'),
    url('fonts/icomoon.woff?acsc4t') format('woff'),
    url('fonts/icomoon.svg?acsc4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand-arrow:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-icon-prev:before {
  content: "\e903";
  color: #8dd83d;
}
.icon-icon-next:before {
  content: "\e904";
  color: #8dd83d;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
