.wrapper {
  text-align: center;
  padding: 100px; }
  .wrapper .btn {
    margin-bottom: 20px; }
.output {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .output ul {
    padding: 0;
    margin-left: 0;
    text-align: center; }
  .output div {
    margin: 0;
    padding: 0; }
    .output div div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin: 20px;
      border: 1px solid gray;
      background-color: lightgrey;
      transition: all .5s ease; }
      .output div div img {
        display: block;
        cursor: pointer;
        opacity: 0; }
      .output div div.on img {
        opacity: 1; }
      .output div div.end img {
        opacity: 1; }
