.cards__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .cards__box_img {
    cursor: pointer; }
    .cards__box_img img {
      filter: blur(20px); }
    .cards__box_img.on img {
      filter: blur(0px); }
