html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-size: 100% 100%;
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #ff0000; }

:-ms-input-placeholder {
  color: #ff0000; }

::placeholder {
  color: #ff0000; }

::-moz-selection {
  color: #29a1ff; }

::selection {
  color: #29a1ff; }
.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 50px; }
  .wrapper .comments {
    max-width: 500px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .wrapper .comments ul {
      list-style: none;
      margin: 0 0 30px;
      padding: 0; }
    .wrapper .comments form {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .wrapper .comments form input, .wrapper .comments form textarea, .wrapper .comments form button {
        font-family: 'HelveticaNeue', Arial, sans-serif;
        width: 100%;
        box-sizing: border-box;
        border-radius: 7px;
        box-shadow: none;
        border: 2px solid lightgrey;
        font-size: 1.6rem;
        margin: 0;
        outline: none;
        color: grey;
        padding: 10px 15px;
        transition: all .2s ease; }
        .wrapper .comments form input::-webkit-input-placeholder, .wrapper .comments form textarea::-webkit-input-placeholder, .wrapper .comments form button::-webkit-input-placeholder {
          color: lightgrey; }
        .wrapper .comments form input:-ms-input-placeholder, .wrapper .comments form textarea:-ms-input-placeholder, .wrapper .comments form button:-ms-input-placeholder {
          color: lightgrey; }
        .wrapper .comments form input::placeholder, .wrapper .comments form textarea::placeholder, .wrapper .comments form button::placeholder {
          color: lightgrey; }
        .wrapper .comments form input:invalid:focus:not(:placeholder-shown), .wrapper .comments form textarea:invalid:focus:not(:placeholder-shown), .wrapper .comments form button:invalid:focus:not(:placeholder-shown) {
          border: 2px solid red; }
        .wrapper .comments form input:selection, .wrapper .comments form textarea:selection, .wrapper .comments form button:selection {
          color: #29a1ff; }
        .wrapper .comments form input:focus, .wrapper .comments form textarea:focus, .wrapper .comments form button:focus {
          border: 2px solid #29a1ff; }
      .wrapper .comments form textarea {
        min-height: 200px; }
      .wrapper .comments form input, .wrapper .comments form button {
        margin: 20px 0; }
      .wrapper .comments form button {
        font-weight: bold;
        color: #ffffff;
        background-color: #29a1ff;
        cursor: pointer;
        border-color: transparent; }
        .wrapper .comments form button:hover {
          border-color: transparent;
          background-color: #217ac3; }
    .wrapper .comments .comment {
      border-bottom: 1px solid lightgrey; }
      .wrapper .comments .comment__title {
        color: #29a1ff; }
      .wrapper .comments .comment__content {
        font-size: 1.3em;
        overflow: auto; }
      .wrapper .comments .comment__date {
        text-align: right;
        color: gray;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: .9rem; }
      .wrapper .comments .comment:last-child {
        border-bottom: 0px solid black; }
