/*СЕЛЕКТЫ*/
/*CSS-СЕЛЕКТЫ*/
.switch,
.switch-label,
.switch-slider {
  cursor: pointer;
  width:60px;
  height:27px;
}
.switch {
  position:relative;
  display: block;
  margin: 10px auto;
}
.switch-check {
  position:absolute;
  opacity:0;
}
.switch-label,
.switch-slider {
  position:absolute;
  top:0;
}
.switch-label {
  left:0;
  text-indent:-9999px;
}
.switch-slider {
  border-radius:14px;
  box-shadow:
          0 0 0 2px rgba(0, 0, 0, 0.1) inset,
          0 0 4px rgba(0, 0, 0, 0.5) inset,
          0 5px 4px 1px rgba(0, 0, 0, 0.3) inset,
          0 27px 0 rgba(0, 0, 0, 0.07) inset;
  -webkit-transition:width 0.2s linear;
  -moz-transition:width 0.2s linear;
  -o-transition:width 0.2s linear;
  transition:width 0.2s linear;
}
.switch-slider-on {
  left:0;
  width:27px;
  background:#c8ea14 url(../../assets/images/on.svg) 185% 5px no-repeat;
}
.switch-slider-off {
  right:0;
  background:#FFF url(../../assets/images/off.svg) 33px 5px no-repeat;
}
.switch-slider-off:after {
  position:absolute;
  top:1px;
  left:1px;
  width:25px;
  height:25px;
  border-radius:50%;
  background:#E5E5E5;
  background:-webkit-linear-gradient(#D0D0D0, #FDFDFD);
  background:-moz-linear-gradient(#D0D0D0, #FDFDFD);
  background:-o-linear-gradient(#D0D0D0, #FDFDFD);
  background:linear-gradient(#D0D0D0, #FDFDFD);
  box-shadow:
          0 0 2px 2px #FFF inset,
          0 0 4px 1px rgba(0, 0, 0, 0.6);
  content:'';
}
.switch-label:active .switch-slider-off:after,
.switch-check:focus + .switch-label .switch-slider-off:after {
  background:#D5D5D5;
  background:-webkit-linear-gradient(#C8C8C8, #E4E4E4);
  background:-moz-linear-gradient(#C8C8C8, #E4E4E4);
  background:-o-linear-gradient(#C8C8C8, #E4E4E4);
  background:linear-gradient(#C8C8C8, #E4E4E4);
}
.switch-check:checked + .switch-label .switch-slider-on {
  width:60px;
}
.switch-check:checked + .switch-label .switch-slider-off {
  width:27px;
}
.select_div_css{
  margin-left: 20px;
  display: block;
  position: relative;
  float: left;

}