@import './mixins';
@import './variables';

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-size: 100% 100%;
  box-sizing: border-box;
}
::placeholder{
  color: #ff0000;
}

::selection{
   color: #29a1ff;
 }

