html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: url(../../assets/images/pattern9.jpg);
  -webkit-background-size: cover;
  background-size: 100% 100%;
  display: flex;
  border: 0 solid orange;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
::placeholder{
  color: #9a9da1;
}

::selection{
  color: #fff
}
.wrapper {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.title{
  padding: 0.5rem 0;
}
h2, p {
  color: #d9d9d9;
  text-shadow: rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
}
h2{
  font-size: 2rem;
  text-transform: uppercase;
}
input{
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
  font-size: 0,9rem;
  color: #9a9da1;
  font-weight: bold;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 5px 5px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.25s;
  &:active{
    top: 2px;
    left: 2px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 2px 2px 1px rgba(0, 0, 0, 0.24);
  }
  &[type=text]:focus{
    top: 2px;
    left: 2px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 2px 2px 1px rgba(0, 0, 0, 0.24);
  }
}
.btn{
  display: block;
  background-color: #68f268;
  cursor: pointer;
  transition: all 0.25s;
  color: #a59c26;
  max-width: 10rem;
  margin: 1rem auto 0;
  &:hover{
    color: #fff;
    background-color: #9a9da1;
  }

  &:active{
    color: #68f268;
    background-color: #d66768;
  }
}
.btn2{
  background-color: #d66768;
}
.btn3{
  background-color: #5bc1f5;
}
.btn4{
  background-color: #7e5b8c;
}
.btn5{
  background-color: #a59c26;
  color: #151a26;
}
.btn6{
  background-color: #f9be3e;
}
.btn7{
  background-color: #ffa4a4;
}
.btn8{
  background-color: #0056b3;
}
.btn9{
  background-color: #86a73f;
  color: blue;
}
.btn10{
  background-color: #ffffff;
}
.btn11{
  background-color: #a59c26;
  color: #fff;
}
.btn12{
  background-color: #ffa4a4;
}
.btn13{
  background-color: #f9be3e;
}
.btn14{
  background-color: #d66768;
}
.btn15{
  background-color: #7e5b8c;
}
@media screen and (max-width: 992px){
}

@media screen and (max-width: 575px){
}
@media screen and (max-width: 370px){
}
