html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-size: 100% 100%;
}
::placeholder{
  color: #9a9da1;
}

::selection{
  color: #fff
}
.svetofor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 2px 2px 3px black;
}
.svetofor div{
  border-radius: 50%;
  border: 1px solid gray;
  transition: all .25s ease-out;
}

@media screen and (max-width: 992px){
}
@media screen and (max-width: 575px){
}
@media screen and (max-width: 370px){
}
