@import '../../../common/styles/mixins';
@import '../../../common/styles/variables';

.btn{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #686c6f, #373a3c);
  color: #fff;
  line-height: 2.5;
  text-decoration: none;
  padding: 0 19px;
  min-width: 136px;
  white-space: nowrap;
  @include transition;
  &:hover{
    @include transition;
    background-image: linear-gradient(to bottom, #55595c, #373a3c);
  }
  &:active{
    background-image: linear-gradient(to bottom, #4a4e51, #373a3c);
  }
}
.btn-green{
  background-color: $accent;
  background-image:  radial-gradient(circle at 50% 0, #c1ff7f, $accent);
  &:hover{
    background-image: radial-gradient(circle at 50% 0, #c1ff7f,  #79c13a);
  }
  &:active{
    background-image: radial-gradient(circle at 50% 0, #c1ff7f, #71af30);
  }
}