* {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?29dr49');
  src:  url('../fonts/icomoon.eot?29dr49#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?29dr49') format('truetype'),
    url('../fonts/icomoon.woff?29dr49') format('woff'),
    url('../fonts/icomoon.svg?29dr49#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
  color: #5bc1f5;
}
.icon-dropdown:before {
  content: "\e902";
  color: #fff;
}
.icon-flag:before {
  content: "\e903";
}
.icon-forward:before {
  content: "\e904";
}
.icon-inbox:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e906";
  color: #f15454;
}
.icon-mail:before {
  content: "\e907";
}
.icon-rewind:before {
  content: "\e908";
}
.icon-Rounded-Rectangle-8:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
  color: #fff;
}
.icon-share:before {
  content: "\e90b";
  color: #48b96d;
}
.icon-sound:before {
  content: "\e90c";
}
.icon-trash:before {
  content: "\e90d";
}



body {
    background-color: #e1e7ed;
    font-family: 'Roboto', sans-serif;
    color: #33363b;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
/*
span{
    font-family: 'PT Serif', serif;
}
*/
h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    
}
.wrapper{
    min-width: 320px;
    max-width: 1257px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*    flex-direction: column;*/
    width: 100%;
    background-image: url(../img/Layer5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15vw 0px;
    margin-bottom: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
header > *{
    flex: 1 1 100%;
    
}
header p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}
header .input-wrapper{
    display: flex;
    justify-content: center;
    max-width: 540px;
}
header .input-wrapper__width{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    -ms-align-items: center;
}
header .fas{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    
}
header input{
    border: none;
    outline: none;
}
header input[type=text]{
    border-radius: 4px 0 0 4px;
    color: #9a9da1;
    font-size: 14px;
    font-weight: 400;
    line-height: 52px;
    padding: 0 18px;
    width: calc(100% - 50px);
}
header input[type=text]::placeholder{
    color: #cacdd3;
}
header .btn{
    position: relative;
    border-radius: 0 4px 4px 0;
    width: 50px;
    background-color: #8c91ff;
    transition: background-color 0.25s ease;
    cursor: pointer;
    border: none;
    outline: none;
}
header .btn:hover{
    background-color: #8186ff;
}

.btn::after{
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s1{
    padding-bottom: 3vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.s1 .s1-block1{
    width: calc(66.666667% - 1.5vw);
    padding-right: 3vw;
    display: flex;
    justify-content: flex-start;
}
.s1 .s1-block1 .s1-block1-yellow{
    background-image: url(../img/Layer59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.s1 .s1-block1 .s1-block1-white{
    background-color: #fff;
    width: 50%;
    padding: 1.5vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
}




.s1-block1-white::before{
    position: absolute;
    content: "";
    border: 10px solid transparent;	
    border-right: 10px solid white;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.s1-block1-white h3{
    color: #33363b;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-bottom: 1.5vw;
}
.s1-block1-white h3::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ff7098;
    top: calc(0.9vw + 18px);
    left: 0;
    
}

.s1-block1-white p{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 1.5vw;
}

.s1-block1-white div{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.s1-block1-white .img_block{
    border-radius: 50%;
}
.s1-block1-white .img_block img{
    padding-right: 10px;
}
.s1-block1-white .img_block span{
    color: #33363b;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.s1-block1-white .hart_block span{
    padding-right: 10px;
}

.s1-block1-white .hart_block {
    
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.s1-block1-white .hart_block::before {
    position: absolute;
    left: -10px;
    top: 2px;
}
.s1 .s1-block2{
    width: calc(33.333333% - 1.5vw);
    display: flex;
}
.s1-block2__coffee{
    width: 73.333%;
    background-image: url(../img/Layer60.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
.s1-block2__soc{
    display: flex;
    flex-direction: column;
    width: 26.6667%;
}
.s1-block2__soc ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
    background-color: #fff;
}
.s1-block2__soc ul li{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.s1-block2__soc ul li + li{
    border-top: 1px solid #dde1e7;
}
.s1-block2__soc ul a{
    position: relative;
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    width: 100%;
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.s1-block2__soc ul span + span{
    margin-top: 5px;
}
.s2{
    display: flex;
    margin-bottom: 3vw;
}
.s2-block1{
    display: flex;
    flex-direction: column;
    width: calc(32.55% - 1.5vw);
    margin-right: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.s2-block1 .img_wrap{
    min-height: 180px;
    height: 30%;
    flex: 1;
    background-image: url(../img/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    
}

.s2-block1 .img-block{
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}
.s2-block1 .img_wrap img{
    width: 100%;
    height: auto;
}
.s2-block1 .tweeter{
    height: 60%;
    background-color: #fff;
}
.s2-block1 h4{
    text-align: center;
    margin-top: 80px;
    color: #33363b;
    font-size: 18px;
    font-weight: 500;
}
.s2-block1 h4+span{
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}
.s2-block2{
    width: calc(67.45% - 1.5vw);
    display: block
}
.tweeter ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-top: 1px solid #dde1e7;
}
.tweeter ul li{
    width: 33.3333%;
    padding: 30px 0;
    
}
.tweeter ul a{
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
}
.tweeter ul a strong{
    color: #33363b;
    font-size: 18px;
    font-weight: 500;
}
.tweeter ul a span{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
}
.tweeter .btn-wrap{
    padding: 0 30px 60px;
}
.tweeter .btn{
    display: block;
    border-radius: 4px;
    color: white;
    background-color: #24c5a1;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    transition: all 0.25s;
    margin-bottom: 30px;
 }
.tweeter .btn:hover{
    background-color: #21b694;
}
.s2-block2 iframe{
    min-width: 100%;
    height: 100%;
}
.s3{
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 3vw 5vw;
/*    margin-bottom: 3vw;*/
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    
}
.s3 div{
    min-width: 48.77%;
/*    border: 1px solid;*/
    display: flex;
    flex-direction: column;
}
.s3 div>*{
    width: 100%;
}
.s3-header{
    color: #33363b;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}
.s3-content{
    
}
.s3-content h2{
    height: 118px;
    color: #33363b;
    font-family: 'PT Serif', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin: 10vw 0;
}
.s3-footer{
    position: relative;
}
.s3-footer ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.s3-footer ul li + li{
    padding-left: 30px;
}
.s3-footer ul a{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.s3-footer ul a span{
    color: #ffa24f;
    font-weight: 500;
}
.s3-header::before,
.s3-footer::before{
    position: absolute;
    content: "";
    border-top: 1px solid #ccd4dd;	
    border-bottom: 1px solid #ccd4dd;	
    width: 100%;
    height: 2px;
    left: 0;
}
.s3-header::before{
    top: calc(100% + 0.75vw);
}
.s3-footer::before{
    bottom: calc(100% + 0.75vw);  
}
.s4{
    padding: 6vw 7vw 6vw 0;
    background-color: #fff;
    display: flex;
    margin-bottom: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.s4-rotate{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.s4-rotate span{
    color: #edeff2;
    font-family: 'PT Serif', serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 72px;
    margin-top: 10px;
}
.s4-rotate div{
    color: #33363b;
    font-size: 18px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: relative;
/*    bottom: 50px;*/
    position: relative;
    padding-right: 10px;
    margin-top: 160px;
}
.s4-rotate div::before{
    position: absolute;
    content: "";
    background-color: #33363b;
    width: 80%;
    height: 3px;
    left: 100%;
    top: 50%;
    
}
.s4-text{
    text-align: justify;
    width: 70%;
}
.s4-text p{
    margin-bottom: 4vw;
    color: #626a73;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.2;
}
.s4-text p:last-child{
    margin-bottom: 0;
}
.s5{
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vw;
    
}
.s5>*{
    width: 50%;
}
.s5-box1{
    background-image: url(../img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.s5-box2{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    background-color: #fff;
    -ms-align-items: center;
    align-items: center;
}
.s5-box2 span{
    color: #33363b;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    position: relative;
}
.s5-box2 span::before,
.s5-box2 span::after{
    position: absolute;
    content: "";
    background-color: #33363b;
    width: 100%;
    height: 1px;
    top: 55%;
/*    transform: translateY(-50%);*/
}
.s5-box2 span::before{
    left: calc(100% + 10px);
}
.s5-box2 span::after{
    right: calc(100% + 10px);
}
.s5-box2 h5{
    text-align: center;
    color: #33363b;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2vw;
    position: relative;
}
.s5-box2 h5::after{
    position: absolute;
    content: "";
    background-color: #33363b;
    width: 60px;
    height: 4px;
    top: calc(100% + 1.5vw);
    left: 50%;
    transform: translateX(-50%);
}

.s5-box2 p{
    margin-top: 1.75vw;
    color: #626a73;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.s5-box2 a{
    color: #33363b;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #99a3b4;
    border-radius: 4px;
    text-align: center;
    margin-top: 3vw;
    line-height: 50px;
    padding: 0 50px;
    transition: all 0.25s;
}
.s5-box2 a:hover{
    background-color: #f0f0f0;
}
.s6{
    display: flex;
    width: 100%;
    margin-bottom: 3vw;
}
.s6-box1{
    margin-right: 3vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: calc(66.666667% - 1.5vw);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.s6-box1 .img-box{
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
}
.s6-box1 .img-box img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.s6-box1 .info{
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    background-color: #fff;
    margin: 0;
    flex:1;
    -ms-align-items: center;
    align-items: center;
}
.s6-box1 .strong{
    color: #33363b;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.75vw;
}
.s6-box1 .amount{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
}

.s6-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333333% - 1.5vw);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.s6-box2 .blue-list{
    list-style-type: none;
}
.s6-box2 .blue-list>li{
    padding: 1.6vw;
    background-color: #fff;
    border-bottom: 1px solid #dde1e7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.s6-box2 .blue-list>li span{
    color: #35363a;
    margin-right: 15px;
    position: relative;
/*    top: 2px;*/
}

.s6-box2 .blue-list>li:first-child{
    background-color: #5cbcff;
    border-bottom: none;
    padding: 2.2vw 1.6vw;
}
.s6-box2 .blue-list>li:first-child a{
    line-height: 1.6;
}
.s6-box2 .blue-list>li:first-child .icon-dropdown{
    font-size: 10px;
    margin-left: 10px;
}
.s6-box2 .blue-list>li:first-child .icon-settings{
    margin-right: 0;
    position: relative;
}
.s6-box2 .blue-list>li:first-child a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.s6-box2 .blue-list>li:not(first-child) a{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.s6-box2 .blue-list li .bg-trans, .s6-box2 .blue-list li .bg-blue{
    margin-right: 0;
}
.s6-box2 .blue-list li .bg-blue{
    padding: 5px 10px;
    background-color: #5cbcff;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.s6-box2 .blue-list li .bg-trans{
    border-radius: 2px;
    background-color: transparent;
    color: #3b3e43;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
}
.bg-trans{
    
}
.d-flex{
    justify-content: flex-end;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;    
}
.s6-box2 .tags{
    display: flex;
    list-style-type: none;
    color: #868d9b;
    font-size: 12px;
    font-weight: 400;
}
.s6-box2 .tags li:first-child{
    margin-right: 10px;
}
.s6-box2 .tags a{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 17px;
    background-color: #7ece8d;

}
.s6-box2 .tags li:nth-child(3) a{
    background-color: #ffd75d;
}
.s6-box2 .tags li:nth-child(4) a{
    background-color: #f77;
}
.s6-box2 .tags li:nth-child(5) a{
    background-color: #8c91ff;
}
.s6-box2 .compose{
    
    margin: 1.7vw auto;
    text-align: center;
    width: 77%;
    display: inline-block;
    background-color: #5cbcff;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}
.s7{
    background-color: #fff;
    min-height: calc(1vw + 80px);
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 1vw 1.5vw;
    margin-bottom: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
}
.s7 .img-box{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.s7 .img-box img{
    width: 100%;
    height: auto;
}
.user-info{
    margin-left: 100px;
}
.user-info .songs{
     color: #33363b;
    font-size: 18px;
    font-weight: 500;
}
.user-info .user-name{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
}
.settings{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-left: 30px;
    width: 100%;
}
.settings>*{
    cursor: pointer;
    transition: all 0.25s;
}
.settings>*:hover{
    color: #626a73;
}
.settings .icon-Rounded-Rectangle-8{
    font-size: 42px;
    margin: 0 20px;
}
.settings .line{
    flex: 1;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    
}
.settings .line progress {
    
    display: block;
    width: 100%;
    height: 2px;
    color: #ff638f;
    background-color: #dde1e7;
   }
::-webkit-progress-bar {
background-color: #dde1e7;
}

::-webkit-progress-value {
    background-color: #ff638f;
}

::-moz-progress-bar {
    background: #ff638f;
}

.settings .time{
    color: #868d9b;
    font-size: 12px;
    font-weight: 400;
}
.settings .icon-sound{
    position: relative;
    left: 3px;
}
.volumecontrol{
    margin: 10px 0 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.volumecontrol ul{
    list-style-type: none;
/*
    display: flex;
    flex-direction: column;
*/
}
.volumecontrol ul li{
    display: flex;
    margin: 0;
    padding: 0;
}
.volumecontrol ul li label{
    margin: 0;
    width: 12px;
    height: 2px;
    background-color: #dde1e7;
    margin-bottom: 4px;
    border-radius: 1px;
    cursor: pointer;
}
.volumecontrol ul li:hover label{
    background-color: #ff7098;
}
.volumecontrol ul li:hover ~ li label{
    background-color: #ff7098;
}
.volumecontrol ul input{
    display: none;
    cursor: inherit;
}
.volumecontrol input:checked  label{
    background-color: #ff7098;
}
.volume-label{
    background-color: #ff7098;
}
.s8{
    display: flex;
    margin-bottom: 3vw;
}
.s8-block1{
    width: calc(50% - 1.5vw);
    background-color: #fff;
    padding: 8vw 4vw 8vw 15vw;
    background-image: url(../img/lady_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  2%; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin-right: 3vw;
/*    flex:1;*/
}
.s8-block1 .text1{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    padding-right: 5vw;
}
.s8-block1 .text2, .s8-block2 .text2{
    font-family: 'PT Serif', serif;
    color: #33363b;
    font-size: 48px;
    font-style: italic;
}
.s8-block1 .text2{
    margin-bottom: 30px;
}
.s8-block1 .text3, .s8-block2 .text3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #33363b;
    font-size: 14px;
    font-weight: 500;
}
.s8-block1 .text3 .icon-arrow, .s8-block2 .text3 .icon-arrow{
    margin-left: 10px;
    font-size: 12px;
    color: #33363b;
}
.s8-block2{
/*    flex:1;*/
    width: calc(50% - 1.5vw);
    background-color: #fff;
    padding: 4vw 15vw 4vw 4vw;
    background-image: url(../img/man_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  right center ; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.s8-block2 .text1{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07rem;
    padding-right: 8vw;
    margin-top: 30px;
}
.s8-block2 .text3{
    margin-top: 10px;
}
.s9{
    display: flex;
    margin-bottom: 3vw;
}
.s9-block1{
    display: flex;
    flex-direction: column;
    width: calc(32.55% - 1.5vw);
    margin-right: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.s9-block2{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: calc(67.45% - 1.5vw);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.s9-block1 .img-block, s9-block2 .img-block{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.s9-block1 .img-block .circle{
    width: 80px;
    height: 80px;
    background-color: #ff638f;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.s9-block1 .img-block img,
.s9-block2 .img-block img{
    display: block;
    height: 268px;
    width: 100%;
}

.s9-block1 h5,
.s9-block2 h5{
    color: #33363b;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 1.5vw 0.5vw;
}
.s9-block1 p,
.s9-block2 p{
    color: #868d9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03rem;
    padding: 0 2vw;
}
.s9-block1 a{
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: #ff638f;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin: 2vw;
    transition: all 0.25s;
}
.s9-block1 a:hover{
    background-color: #ff4d7f;
}

.s9-block2 .justifay-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}
.s9-block2 .justifay-between ul{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    list-style-type: none;
}
.s9-block2 .justifay-between .avatar{
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}
.s9-block2 .justifay-between .avatar img{
    display: block;
    width: 100%;
    height: auto;
}
.s9-block2 .price{
    color: #65bd8c;
    font-size: 18px;
    font-weight: 500;   
}
