html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-size: 100% 100%;
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #ff0000; }

:-ms-input-placeholder {
  color: #ff0000; }

::placeholder {
  color: #ff0000; }

::-moz-selection {
  color: red; }

::selection {
  color: red; }

.wrapper {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 50px; }
.accordion {
  width: 100%;
  max-width: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 5px;
  color: #505c6a;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5); }
  .accordion__item {
    transition: all 0.25s ease-in-out;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    overflow: hidden; }
    .accordion__item:last-child {
      border-bottom: none; }
    .accordion__item.active .accordion__item_title {
      background-color: gray; }
      .accordion__item.active .accordion__item_title i {
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .accordion__item.active .accordion__item_content {
      visibility: visible;
      padding: 20px;
      opacity: 1;
      height: auto;
      border: 1px solid transparent; }
    .accordion__item_title {
      background-color: #059588;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      color: #fff;
      padding: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.25s ease-in-out; }
      .accordion__item_title i {
        position: relative;
        transition: all 0.25s ease-in-out; }
    .accordion__item_content {
      visibility: hidden;
      opacity: 0;
      height: 0px;
      transition: opacity 0.25s 0.05s;
      -ms-transform-origin: 0 center;
          transform-origin: 0 center; }
      .accordion__item_content p {
        margin: 0; }
        .accordion__item_content p + p {
          margin-top: 10px; }
